@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-chronology{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/supercraquepele/bg-test.png');
    min-height: 100vh;
    padding: 100px 0px;
    background-size: cover;
    background-position: center;

    .box-chronology{
        padding: 100px 0px 0px 0px;
        align-items: center;
        position: relative;
    }
    .col-content{
        margin-left: 82px;
    }
    .chronology{
        &-img{
            width: 100%;
        }
        &-time{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 20px;
            border-radius: 100%;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #FFF;
            transform: translateX(-50%);
            
            span{
                font-size: 70px;
                font-weight: 700;
                color: #FFF;
            }
        }
        &-title{
            color: #FFF;
            font-size: 30px;
            font-weight: 700;
        }
        &-content{
            color: #FFF;
            font-size: 16px;
            font-weight: 300;
            padding-top: 16px;
        }
    }
}