@mixin md{
    @media (min-width: 1200px) { @content; }
}
.c-king{
    background-color: #000;
    padding: 60px 0px;

    .king{
        &-title{
            font-size: 90px;
            color:#fff;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 16px;
            letter-spacing: -1px;
        }
        &-content{
            color: #fff;
            font-size: 18px;
        }
        &-card{
           width: 100%;
        }

        
    }
    .slick__king{
        .item{
            .king-card{
                width: 300px;
                padding: 32px;
                border-radius: 10px;
                background-color: #0F0F0F;
                border: 1px solid #0F0F0F;
                cursor: pointer;
                transition: 0.8s ease-in-out;

                .king{
                    &-box-icon{
                        height: 40px;
                        opacity: 0.5;
                        transition: 0.8s ease-in-out;
                    } 
                    &-box-title{
                        font-size: 30px;
                        text-transform: uppercase;
                        margin-left: 16px;
                        font-weight: 700;
                        color: #363636;
                        transition: 0.8s ease-in-out;
                    }
                    &-box-content{
                        color: #363636;
                        font-size: 18px;
                        padding-top: 8px;
                        transition: 0.8s ease-in-out;
                    }
                }
                &:hover{
                    border:1px solid #FFA82D;

                    .king-box-icon{
                        opacity: 1;
                    }
                    .king-box-title{
                        color: #FFFFFF;
                    }
                    .king-box-content{
                        color: #FFFFFF;
                    }
                }
            }
            
        }
    }
    .slick-nav_king{
        margin-bottom: 8px;
            button{ 
                background: transparent;
                border: none;
                i{
                    font-size: 25px;
                    color: #FFFFFF80;
                }
            }
    }
}